{% extends "layout.html" %}

{% block content %}
<div class="container">
    <form method="POST" action="">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Register New User</h2>
                <hr>
            </div>
        </div>
        <!-- Start of Username -->
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="username">Username</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="username" class="form-control" id="username" value="{{ request.form['username'] }}"
                               placeholder="benredgy">
                    </div>
                </div>
            </div>
            <!-- Username Validation -->
            {% if username_error %}
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            {{ username_error }}
                        </span>
                </div>
            </div>
            {% endif %}
            <!-- End Of Username Validation -->
        </div>
         <!-- End of Username -->
          
         <!-- Start of Email Form -->
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">E-Mail Address</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email" value="{{ request.form['email'] }}" placeholder="you@example.com">
                    </div>
                </div>
            </div>
             <!-- Email Validation -->
             {% if email_error %}
             <div class="col-md-3">
                 <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        {{ email_error }}
                    </span>
                 </div>
             </div>
             {% endif %}
             <!-- End Of Email Validation -->
        </div>
        <!-- End of Email Form -->

        <!-- Start of Password Form -->
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
            </div>
             <!-- Password Validation -->
             {% if password_error %}
             <div class="col-md-3">
                 <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        {{ password_error }}
                    </span>
                 </div>
             </div>
             {% endif %}
             <!-- End Of Password Validation -->
        </div>
        <!-- End of Password Form -->

        <!-- Start of Confirm Password Form -->
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password-confirm">Confirm Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input type="password" name="password-confirm" class="form-control"
                               id="password-confirm" placeholder="Password">
                    </div>
                </div>
            </div>
              <!-- Confirm Password Validation -->
              {% if confirm_password_error %}
              <div class="col-md-3">
                  <div class="form-control-feedback">
                          <span class="text-danger align-middle">
                              {{ confirm_password_error }}
                          </span>
                  </div>
              </div>
              {% endif %}
              <!-- End Of Confirm Password Validation -->
        </div>

         <!-- End of Confirm Password Form -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

